.bord1{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.container1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 100px;
   
    }
    #todo{
        background-color: rgba(25, 31, 30, 0.897);
        padding: 20px;
    }
    #table{
        background-color: rgba(152, 179, 90, 0.897);
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }